<%- include ("./partials/header.ejs")%>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <h1>HELLO</h1>

    <p>
        <%= typeof(schemes) %>
    </p>
    <!-- <p id="company">
        <=companies%>
    </p>
    
    <for(let i=0;i<200;i++){%>
        <a id="scheme<=i%>" href="#">Scheme</a>
        < } %> 

    <ol id="mylist">
        <for(let scheme of schemes){%>
            <li>
                <=scheme%>
            </li>
            <}%>-->
    </ol>
    <script src="/scripts/category.js"></script>