<%- include ("./partials/header.ejs")%>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <p>
        <%= schemes[1].length %>
    </p>

    <ol>
        <%for(let i=0;i<schemes[0].length;i++){ %>
            <li>
                <button value="<%=schemes[1][i]%>" onclick="getapi(this.value)">
                    <%=schemes[0][i]%>
                </button>
            </li>
            <%}%>
    </ol>


    <script src="/scripts/category.js"></script>