<%- include ("./partials/header.ejs")%>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<p id="company"><%=company%></p>

<%for(let i=0;i<200;i++){%>
    <a id="scheme<%=i%>" href="#">Scheme</a>
    <% } %> 

<script src="/scripts/category.js"></script>
