<%- include ("./partials/header.ejs")%>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <h1>HELLO</h1>
    <% var schemeArr=schemes.split(','); for(let i=0;i<schemeArr.length;i++){
        schemeArr[i]=schemeArr[i].replace("cxwo","&"); } %>
        <ol>
            <%for(let i=0;i<schemeArr.length;i++){ %>
                <li>
                    <button value="<%=schemeArr[i]%>" onclick="getapi(this.value)">
                        <%=schemeArr[i]%>
                    </button>
                </li>
                <%}%>
        </ol>
        <script src="/scripts/category.js"></script>