<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="./stylesheets/home.css">
    <title>EZTrade</title>
    <a
        href="https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol=ETH&market=USD&interval=5min&apikey=CHQE0DE1ARC0CVW0">GO
        FOR RELIANCE
    </a>