scscriphtml{
    box-sizing: border-box;
}
body{
    margin: 0;
}

#rowone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#rowtwo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
