scscriphtml{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.card-footer{
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.card-footer .btn:active:hover{
    cursor: pointer;
}

.card-footer .btn:active{
    background-color: #198754;
    transition: background-color ease-in;
    transform: scale(1.3,1.1);
    box-shadow: none;
}

img.card-img-top{
    background: fixed no-repeat center;
}

.col-2.home-card:hover{
    transform: scale(1.1); 
}

#hamburger{
    background: none;
    border: none;
}

#moreinfo{
    display: flex;
    align-items: center;
    text-align: center;
}

#moreinfo::before, #moreinfo::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}

#moreinfo:not(:empty)::before{
    margin-right: 0.25em;
}

#moreinfo:not(:empty)::after{
    margin-right: 0.25em; 
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;  
  }
  
::-webkit-scrollbar {
    width: 16px;
    scroll-behavior: smooth;
  }


blockquote p{
    width: fit-content;
    height: fit-content;
}

blockquote p::before {
    content: '❝';
}

blockquote p::after {
    content: '❞';
}




